// Fonts
$font-primary: 'Karla', sans-serif;
$font-secondary: 'Crimson Text', serif;

// Colors
$avatar-background: #fff;
$color-accent: #b8d9ba;
$gray-darkest: #93bbbf;
$gray-dark: #333;
$gray: #666;
$gray-light: #fff;
$gray-lighter: #eee;
$yellow: #f2dc9b;
